.body-background{
  /*background-color: #333330;*/
  // background-color: rgba(0, 176, 185, 0.8);
  // background-image: image-url('baby-background.jpg');
  // background-size: cover;
  // /*color: #bfbfbb;*/
  // // color: #333330;
  // color: black;

  background: asset-url('background/baby-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}


.signup-box{
  // background-color: rgba(0, 176, 185, 0.8);
  background-color: rgba(100, 100, 100, 0.4);
  // background: transparent;
  padding: 50px;
  text-align: center center;
  align-content: center;
  padding-top: 50px;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.nav {
  padding: 20px;

}

.login {
  text-align: right;
  padding: 20px;
}

.home {
  padding: 20px;
}

.product {
  padding: 20px;
}

.product_Details {
  text-align: left;
  padding: 20px;
  background-color: rgba(100, 100, 100, 0.4);
}

.details{
  // display: inline-block;
}

.product_Picture{
  padding: 20px;
  max-width: 300px;
  opacity: 0.8;
  border: 10px;
  border-color: red;
  // min-height: 500px;
  // min-width: 500px;
}

.index-pix{
  opacity: 0.8;
  border: 50px;
  border-color: red;
}

img.index-pix:hover{
    color: red;
    border: 5px;
  }

.comment {
  padding: 20px;
  text-align: left;
}

.author{
  text-align: left;
  padding: 0px;
}

.product_Review {
  padding: 0px 10px;
}

.author_picture{
  max-width: 120px;
}

.details {
  padding: 3px;
}

.newComment {
  // min-height: 100px;
  // height: 80px;
  padding: 20px;
}

.new-review {
  padding: 20px;
  margin-bottom: 100px;
  background-color: rgba(100, 100, 100, 0.4);
}

.rating-image{
  max-height: 80px;
  // align-content: right;
  // text-align: right;
}

.padding{
  padding: 10px;
}

#like-dislike {
  text-align: right;
  padding: 3px;
}

button{
  text-align: center center;
  padding: 4px;
}

#signup-title {
  padding: 10px 0px;
}

.actions{
  padding: 10px 0px;
}

.field{
  padding: 5px 0px;
}

.single-review{
  padding: 20px;
  margin: 10px;
  background-color: rgba(100, 100, 100, 0.4);
}

.edit-comment{
  text-align: right;
}
