.body-background{
  background: asset-url('background/baby-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.nav {
  // padding: 20px;
  // margin-top: 30px;
  align-content: center center;
}



// Sign Up Page

.signup-box{
  background-color: rgba(100, 100, 100, 0.4);
  // background-color: rgba(237, 249, 250, 0.4); 
  // background: transparent;
  padding: 50px;
  text-align: center center;
  align-content: center;
  padding-top: 50px;
}

#signup-title {
  padding: 10px 0px;
}

// Sign In Page

.welcome-line{
  text-align: right;
  margin: 10px;
}

.welcome{
  font-weight: bold;
}

div.login{
  text-align: right;
  padding-right: 0;
  display: inline-block;
  // align-content: right;
  // display: inline-block;
}

.search-bar{
  display: inline-block;
}

input.search{
  max-width: 250px;
  display: inline-block;
}

// Product Index Page
div.home {
  // text-align: left;
  // align-content: left;
  padding-left: 0;
}


.product{
  padding: 20px;
}

#intro{
  text-align: center center;
}

.index-pix{
  // opacity: 0.8;
  // border: 50px;
  // border-color: red;
  overflow: hidden;
  align-content: center center;
  &:hover {
    opacity: 1;
    text-decoration: none;
    // background-color: black;
    color: red;
    // border: 10px;
    // border-color: red;
    // font-size: xx-large;
  }
}

img.index-pictures{
  max-height: 200px;
  border: solid black 2px;
  display: inline;
}

// Product Individual Page

.product-name{
  margin-bottom: 20px;
}
.product_Details {
  text-align: left;
  padding: 20px;
  // background-color: rgba(240, 223, 94, 0.7);
  background-color: rgba(237, 249, 250, 0.9)
}

.single-review{
  padding: 20px;
  margin: 10px;
  // background-color: rgba(240, 223, 94, 0.7);
  background-color: rgba(237, 249, 250, 0.9);
}

.product-picture{
  opacity: 0.8;
  border: 10px s;
  border-color: red;

}

.img-thumbnail.product-img{
  max-width: 300px;
  margin-left: -15px;
}

.right-inner-addon{
  align-content: right;
}

.product_Review {

}

.first-row-review{

}

.edit-comment{
  text-align: right;
}

.edit-comment form {
  display: inline-block;
}

.comment {
  padding: 20px;
  text-align: left;
}

.author{
  text-align: left;
  padding: 0px;
}

.author_picture{
  max-width: 120px;
}

.details {
  padding: 3px;
}

.newComment {
  padding: 20px;
}

.new-review {
  padding: 20px;
  margin-bottom: 100px;
  background-color: rgba(100, 100, 100, 0.4);
}

img.rating-image{
  max-height: 80px;
  display: inline-block;
}

.rating{
  text-align: right;
}

.padding{
  padding: 10px;
}

#like-dislike {
  text-align: right;
  padding: 3px;
  font-size: 16px;
  color: lightskyblue;
}

button{
  text-align: center center;
  padding: 4px;
}

.actions{
  padding: 10px 0px;
}

.field{
  padding: 5px 0px;
}

