.body-background{
  /*background-color: #333330;*/
  background-color: rgba(0, 176, 185, 0.8);
  /*color: #bfbfbb;*/
  // color: #333330;
  color: black;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.nav {
  padding: 20px;

}

.login {
  text-align: right;
  padding: 20px;
}

.home {
  padding: 20px;
}

.product {
  padding: 20px;
}

.product_Details {
  text-align: left;
  padding: 40px;
}

.product_Picture{
  padding: 40px;
}

.comment {
  padding: 20px;
  text-align: left;
}

.author{
  text-align: left;
  padding: 0px;
}