<div class="container">
  <div class="row text-center">
    <div class="col-xs-12">
      <h1>All Products</h1>
    </div>
    <div class="col-xs-12 product">
      <span class="col-xs-4">
        <%= link_to "products/show" do %>
          <%= image_tag "neckcushion.jpg", :class => "img-responsive" %>
          <% end %>
      </span>

      <span class="col-xs-4">Product 2b</span>
      <span class="col-xs-4">Product 3c</span>
    </div>
        <div class="col-xs-12 product">
      <span class="col-xs-4">Product 2a</span>
      <span class="col-xs-4">Product 2b</span>
      <span class="col-xs-4">Product 2c</span>
    </div>
  </div>
</div>


