<div class="container">
  <div class="row">
    <div class="col-xs-12 col-xs-offset-1 product_Name">
      <h1>Product Name</h1>
    </div>
    <div class="col-xs-12">
      <span class="col-xs-6 text-center product_Picture">Product Picture</span>
      <span class="col-xs-6 product_Details">
        <div>Product Name: Baby Basket</div>
        <div>Brand: Baby Mama</div>
        <div>Price: $100</div>
        <div>Found at: Baby Store</div>
        <div>Description: baby rocks Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        </div>
      </span>
    </div>
    <div class="col-xs-12 text-center product_Review">
      <div class="col-md-3 author_picture">Reviewer Picture</div>
      <div class="col-xs-12 col-sm-12 col-md-9 review">
        <div class="col-xs-12">
          <div class="col-xs-4 author">Author</div>
          <div class="col-xs-4 timestamp">Timestamp</div>
          <div class="col-xs-4 rating">Ratings</div>
        </div>
        <div class="col-xs-12 comment">
          Comment Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        </div>
      </div>
    </div>
  </div>
