<div class="container">
  <div class="row">
    <div class="col-xs-12 nav">
      <div class="col-xs-2 home text-center"><button>HOME</button></div>
      <div class="col-xs-2 col-xs-offset-8 login">
        Login Here
      </div>
    </div>
  </div>
</div>